* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Modern hover effect */
.nav-container p {
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 600;
}

.nav-container p:hover {
    background: #007bff;
    color: white;
    transform: translateY(-3px);
}

/* MAIN CONTENT */
.main-container {
    padding-top: 100px; /* prevent overlap with fixed navbar */
    display: flex; 
    justify-content: center;
    gap: 40px;
    padding-bottom: 80px;
    flex-wrap: wrap;
}

/* CARD STYLE */
.card {
    width: 250px;
    max-width: 800px;
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.3s ease;
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.card p {
    text-align: center; 
}

/* FOOTER SCROLL ANIMATION */
.footnote {
    background: #000;
    color: white;
    overflow: hidden;
    position: relative;
    padding: 12px 0;
    white-space: nowrap;
}

.footnote-text {
    display: inline-block;
    padding-left: 100%;
    animation: slideText 12s linear infinite;
    font-size: 1.4rem;
    font-weight: bold;
}

.footnote:hover .footnote-text {
    animation-play-state: paused;
}

/* smoother sliding animation */
@keyframes slideText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-120%);
    }
}
